html, body {
  height: 100%;
  width: 100%;
}


.image{
  position:relative;
  width: 400px;
    display: block;
  justify-content: center;
  
}

.image__img{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  justify-content: center;
}

.image__overlay{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: colum;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 50px;
}

  .image__overlay > {
    transition: transform 0.25s;
      transform: translateY(50px);
      border-radius: 50px;
  

  }


.image__overlay:hover{
  opacity: 1;
}

.image__overlay:hover > {

    transform: translateY(0);
   border-radius: 0px;
    position: absolute;

}
  

.image__title{

  font-size: 2em;
  font-weight: bold;
  text-align: start;
  position: absolute;
  top: 20%;
  text-decoration: underline;
  

}

.image__description{

  font-size: 1.15 em;
  margin-top: 0.25 em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   position: relative;
    display:flex;
  justify-content: center;
  text-align: center;
}


footer{

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  
  
  
  
}

main{
  display:flex;
  justify-content: center;
}

details{
  margin-left: 5px;
}

body{

  background-image: url("https://pixabay.com/get/gda7c9d55d50ab55c78cfe2082a8f7f09101247047bced1dfd1a2aaa3decf5863d26bffbbf1cc74030eb365172cc46437ee49ede5b5f976e9726e2a5631578f59dc52b06575d2163c83620c8d9d12f66a_1920.jpg?attachment=");
  background-size: cover;
  
}

fieldset{
  background-color: rgba(255, 255, 255, 0.5);
}